<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Group:</b>
  <%= @photo.group %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Pic:</b>
  <%= @photo.pic %>
</p>

<p>
  <b>Orderby:</b>
  <%= @photo.orderby %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
